@font-face {
  font-family: "Formular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/formular/Formular.woff2") format("woff2"), url("../fonts/formular/Formular.woff") format("woff");
}
@font-face {
  font-family: "Formular";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/formular/Formular-Bold.woff2") format("woff2"), url("../fonts/formular/Formular-Bold.woff") format("woff");
}
@font-face {
  font-family: "Formular";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/formular/Formular-Light.woff2") format("woff2"), url("../fonts/formular/Formular-Light.woff") format("woff");
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--min {
  max-width: 1250px;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1230px;
  }
  .container--min {
    max-width: 1030px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 758px;
  }
  .container--min {
    max-width: 634px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row--m {
  margin-left: 0;
  margin-right: 0;
}
.row--min {
  margin-left: -6px;
  margin-right: -6px;
}
.row--align-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row--align-e {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.row--stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.row--space-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.row--space-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row--no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.row--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cols {
  padding: 0 15px;
}
.cols--min {
  padding: 0 6px;
}

.cols-1 {
  width: 8.3333333333%;
}

.cols-2 {
  width: 16.6666666667%;
}

.cols-3 {
  width: 25%;
}

.cols-4 {
  width: 33.3333333333%;
}

.cols-5 {
  width: 41.6666666667%;
}

.cols-6 {
  width: 50%;
}

.cols-7 {
  width: 58.3333333333%;
}

.cols-8 {
  width: 66.6666666667%;
}

.cols-9 {
  width: 75%;
}

.cols-10 {
  width: 83.3333333333%;
}

.cols-11 {
  width: 91.6666666667%;
}

.cols-12 {
  width: 100%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

@media (max-width: 1280px) {
  .cols-lg-1 {
    width: 8.3333333333%;
  }
  .cols-lg-2 {
    width: 16.6666666667%;
  }
  .cols-lg-3 {
    width: 25%;
  }
  .cols-lg-4 {
    width: 33.3333333333%;
  }
  .cols-lg-5 {
    width: 41.6666666667%;
  }
  .cols-lg-6 {
    width: 50%;
  }
  .cols-lg-7 {
    width: 58.3333333333%;
  }
  .cols-lg-8 {
    width: 66.6666666667%;
  }
  .cols-lg-9 {
    width: 75%;
  }
  .cols-lg-10 {
    width: 83.3333333333%;
  }
  .cols-lg-11 {
    width: 91.6666666667%;
  }
  .cols-lg-12 {
    width: 100%;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .cols-md-1 {
    width: 8.3333333333%;
  }
  .cols-md-2 {
    width: 16.6666666667%;
  }
  .cols-md-3 {
    width: 25%;
  }
  .cols-md-4 {
    width: 33.3333333333%;
  }
  .cols-md-5 {
    width: 41.6666666667%;
  }
  .cols-md-6 {
    width: 50%;
  }
  .cols-md-7 {
    width: 58.3333333333%;
  }
  .cols-md-8 {
    width: 66.6666666667%;
  }
  .cols-md-9 {
    width: 75%;
  }
  .cols-md-10 {
    width: 83.3333333333%;
  }
  .cols-md-11 {
    width: 91.6666666667%;
  }
  .cols-md-12 {
    width: 100%;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .row--md-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .cols {
    padding: 0 10px;
  }
  .cols-sm-1 {
    width: 8.3333333333%;
  }
  .cols-sm-2 {
    width: 16.6666666667%;
  }
  .cols-sm-3 {
    width: 25%;
  }
  .cols-sm-4 {
    width: 33.3333333333%;
  }
  .cols-sm-5 {
    width: 41.6666666667%;
  }
  .cols-sm-6 {
    width: 50%;
  }
  .cols-sm-7 {
    width: 58.3333333333%;
  }
  .cols-sm-8 {
    width: 66.6666666667%;
  }
  .cols-sm-9 {
    width: 75%;
  }
  .cols-sm-10 {
    width: 83.3333333333%;
  }
  .cols-sm-11 {
    width: 91.6666666667%;
  }
  .cols-sm-12 {
    width: 100%;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
}
@media (max-width: 576px) {
  .cols-xs-1 {
    width: 8.3333333333%;
  }
  .cols-xs-2 {
    width: 16.6666666667%;
  }
  .cols-xs-3 {
    width: 25%;
  }
  .cols-xs-4 {
    width: 33.3333333333%;
  }
  .cols-xs-5 {
    width: 41.6666666667%;
  }
  .cols-xs-6 {
    width: 50%;
  }
  .cols-xs-7 {
    width: 58.3333333333%;
  }
  .cols-xs-8 {
    width: 66.6666666667%;
  }
  .cols-xs-9 {
    width: 75%;
  }
  .cols-xs-10 {
    width: 83.3333333333%;
  }
  .cols-xs-11 {
    width: 91.6666666667%;
  }
  .cols-xs-12 {
    width: 100%;
  }
  .order-xs-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-xs-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-xs-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-xs-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order-xs-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order-xs-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order-xs-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .order-xs-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .order-xs-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .order-xs-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .order-xs-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .order-xs-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block !important;
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Formular", sans-serif;
  color: #2C2E3E;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

a[href^="tel:"] {
  white-space: nowrap;
}

input, button, textarea {
  font-family: "Formular", sans-serif;
  outline: none;
  -webkit-appearance: none;
}

button {
  background: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
}

h2 {
  margin: 0 0 53px;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}

h3 {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
}

body.overflow {
  height: 100vh;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin-top: 86px;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
}

.section {
  padding: 80px 0 50px;
}
.section--overflow {
  overflow: hidden;
}
.section--min {
  padding: 30px 0 112px;
}

.text-big {
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.phone {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #2C2E3E;
}
.phone:hover {
  color: #FF2D23;
}

.link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FF2D23;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FF2D23;
}
.link:hover::after {
  opacity: 0;
}

.top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 20px;
  right: 40px;
  padding-right: 37px;
  font-size: 14px;
  line-height: 18px;
  color: #2C2E3E;
  cursor: pointer;
  z-index: 1000;
}
.top:hover .top__icon {
  background: #FF2D23;
}
.top__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  background: #2C2E3E;
}
.top__icon svg {
  width: 6px;
  height: 6px;
  stroke: #fff;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1280px) {
  .text-big {
    font-size: 18px;
    line-height: 26px;
  }
  .phone {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 998px) {
  .main-content {
    margin-top: 77px;
  }
  .text-big {
    font-size: 15px;
    line-height: 22px;
  }
  .phone {
    font-size: 18px;
    line-height: 22px;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.btn {
  display: inline-block;
  padding: 20px 36px;
  text-align: center;
  min-width: 145px;
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}
.btn--primary {
  color: #fff;
  background: #FF2D23;
}
.btn--primary:hover {
  -webkit-box-shadow: 0px 10px 20px rgba(255, 45, 35, 0.3);
          box-shadow: 0px 10px 20px rgba(255, 45, 35, 0.3);
}
.btn--small {
  padding: 15px 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
}

@media (max-width: 998px) {
  .btn {
    min-width: 124px;
    padding: 20px 20px;
  }
  .btn--small {
    padding: 10px 20px;
  }
}
.form-row {
  margin-bottom: -38px;
}

.f-group {
  margin-bottom: 38px;
}

.f-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 25px;
  color: #8F95AC;
}

.f-input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 10px 26px;
  background: none;
  border: 1px solid rgba(143, 149, 172, 0.4);
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.selector {
  position: relative;
}
.selector__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 26px;
  width: 100%;
  height: 60px;
  border: 1px solid rgba(143, 149, 172, 0.4);
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}
.selector__head::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 24px;
  background: url("../img/sprite.svg#angle-down-white") no-repeat center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.selector__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 13px 7px;
  background: #1E2030;
  list-style: none;
  border: 1px solid rgba(143, 149, 172, 0.4);
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 10;
}
.selector__list-item {
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.selector__list-item:hover {
  background-color: rgba(143, 149, 172, 0.1);
}

.selector.active .selector__head {
  border-radius: 4px 4px 0 0;
}
.selector.active .selector__head::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.selector.active .selector__list {
  display: block;
}

.check {
  position: relative;
}
.check__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -9999;
}
.check__input:checked + .check__label::after {
  display: block;
}
.check__label {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 14px;
  line-height: 18px;
  color: #8F95AC;
  cursor: pointer;
}
.check__label::before, .check__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
.check__label::before {
  border: 1px solid rgba(143, 149, 172, 0.3);
}
.check__label::after {
  display: none;
  background: #FF2D23 url("../img/sprite.svg#check-white") no-repeat center;
  background-size: 13px;
}
.check__label a {
  color: #FF2D23;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rating__item {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  background: url("../img/sprite.svg#star") no-repeat center;
}
.rating__item:last-child {
  margin-right: 0;
}
.rating__item.active {
  background-image: url("../img/sprite.svg#star-active");
}

.progressbar-wrap {
  max-width: 470px;
}

.progressbar {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  height: 40px;
  background: rgba(143, 149, 172, 0.1);
  border-radius: 100px;
}
.progressbar__inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  min-width: 95px;
  height: 100%;
  background: #2C2E3E;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.progressbar-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.progressbar-btn {
  min-width: 180px;
  margin-right: 30px;
}

@media (max-width: 998px) {
  .progressbar-btn {
    min-width: 108px;
    margin-right: 16px;
  }
}
.more-block.active .more-block__inner {
  display: block;
}
.more-block__inner {
  display: none;
}
.more-block__toggle {
  position: relative;
  margin-top: 15px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 18px;
  color: #8F95AC;
  border: none;
  cursor: pointer;
}
.more-block__toggle:hover {
  color: #FF2D23;
}
.more-block__toggle:hover .more-block__toggle-icon {
  stroke: #FF2D23;
}
.more-block__toggle.active .more-block__toggle-icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.more-block__toggle.active .more-block__toggle-open {
  display: none;
}
.more-block__toggle.active .more-block__toggle-close {
  display: inline;
}
.more-block__toggle-close {
  display: none;
}
.more-block__toggle-icon {
  position: absolute;
  top: 5px;
  right: 0;
  width: 8px;
  height: 8px;
  stroke: #8F95AC;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.features {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.features__item {
  padding: 38px 20px 20px 34px;
  min-height: 150px;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(143, 149, 172, 0.15);
          box-shadow: 0px 0px 15px rgba(143, 149, 172, 0.15);
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.features__item:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(143, 149, 172, 0.4);
          box-shadow: 0px 0px 20px rgba(143, 149, 172, 0.4);
}
.features__item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

@media (max-width: 1280px) {
  .features {
    gap: 20px;
  }
  .features__item {
    padding: 28px 25px;
    min-height: auto;
    font-size: 18px;
    line-height: 26px;
  }
  .features__item-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 998px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px 0;
  background: #2C2E3E;
  color: #fff;
  z-index: 100;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__col--menu {
  margin-left: 155px;
}
.header__col--buttons {
  margin-left: auto;
}

.logo {
  display: block;
  width: 75px;
}
.logo__img {
  display: block;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px 0 0;
  padding: 0;
  list-style: none;
}
.main-menu__item {
  position: relative;
  margin-right: 58px;
}
.main-menu__item:hover > .main-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu__item:hover .main-menu__link {
  background: rgba(143, 149, 172, 0.2);
}
.main-menu__item:hover .main-menu__link::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.main-menu__link {
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 100px;
}
.main-menu__link:hover {
  background: rgba(143, 149, 172, 0.2);
}
.main-menu__link:active, .main-menu__link.is-active {
  background: #FF2D23;
}
.main-menu__link--parent {
  position: relative;
  padding-right: 40px;
}
.main-menu__link--parent::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: url("../img/sprite.svg#angle-down-white") no-repeat center;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.main-submenu {
  display: none;
  position: absolute;
  top: calc(100% + 25px);
  left: -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 535px;
  padding: 5px 20px;
  background: #2C2E3E;
  border-radius: 9px;
  list-style: none;
}
.main-submenu::before {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
}
.main-submenu__item {
  width: 50%;
  border-bottom: 1px solid rgba(143, 149, 172, 0.5);
}
.main-submenu__item:nth-last-child(-n+2) {
  border-bottom: none;
}
.main-submenu__link {
  position: relative;
  display: block;
  padding: 20px 20px 20px 34px;
  font-size: 14px;
  line-height: 18px;
  color: #8F95AC;
  text-decoration: none;
}
.main-submenu__link-icon {
  position: absolute;
  top: 20px;
  left: 0;
  width: 21px;
  height: 21px;
}
.main-submenu__link-title {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

@media (max-width: 1280px) {
  .header__col--menu {
    margin-left: 109px;
  }
  .main-menu__item {
    margin-right: 27px;
  }
  .main-menu__link {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 998px) {
  .header__col--menu {
    margin-left: 40px;
  }
  .main-menu__item {
    margin-right: 15px;
  }
  .main-menu__link {
    padding: 5px 10px;
  }
  .main-menu__link--parent {
    padding-right: 30px;
  }
}
.footer__inner {
  padding: 30px 0 90px;
  border-top: 1px solid rgba(143, 149, 172, 0.2);
}

@media (max-width: 998px) {
  .footer__inner {
    padding: 20px 0 40px;
  }
}
.intro {
  padding: 150px 0 100px;
  color: #fff;
  background: #1E2030;
  min-height: calc(100vh - 86px);
}
.intro__title {
  max-width: 500px;
}

@media (max-width: 1280px) {
  .intro {
    padding-top: 112px;
    min-height: calc(100vh - 77px);
  }
  .intro__title {
    font-size: 30px;
    line-height: 35px;
  }
  .intro__image {
    max-width: 100%;
  }
}
@media (max-width: 998px) {
  .intro {
    padding-top: 106px;
  }
}
.s-slider {
  margin-right: 0;
  overflow: visible;
}
.s-slider__item {
  position: relative;
  display: block;
  width: 470px;
  background: #C4C4C4;
  border-radius: 5px;
  overflow: hidden;
}
.s-slider__item:hover .s-slider__item-image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.s-slider__item-inner {
  padding-bottom: 72.6%;
}
.s-slider__item-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.s-slider__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-slider__item-rating {
  position: absolute;
  bottom: 30px;
  left: 42px;
}

.s-slider-nav {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(143, 149, 172, 0.2);
          box-shadow: 0px 4px 20px rgba(143, 149, 172, 0.2);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.s-slider-nav:hover:not(.swiper-button-disabled) {
  background: #FF2D23;
}
.s-slider-nav:hover:not(.swiper-button-disabled) svg {
  stroke: #fff;
}
.s-slider-nav:active:not(.swiper-button-disabled) {
  background: #2C2E3E;
}
.s-slider-nav--prev {
  left: -25px;
}
.s-slider-nav--next {
  right: -25px;
}
.s-slider-nav--next svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.s-slider-nav svg {
  width: 10px;
  height: 10px;
  stroke: #2C2E3E;
}

.s-slider-dots {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s-slider-dots .swiper-pagination-bullet {
  margin: 0 9px;
  width: 7px;
  height: 7px;
  background: #8F95AC;
  opacity: 0.3;
}
.s-slider-dots .swiper-pagination-bullet-active {
  background: #FF2D23;
  opacity: 1;
}

@media (max-width: 1530px) {
  .s-slider-nav--next {
    right: 78px;
  }
}
@media (max-width: 1280px) {
  .s-slider__item {
    width: 380px;
  }
  .s-slider-dots {
    margin-top: 40px;
  }
}
@media (max-width: 998px) {
  .s-slider__item {
    width: 230px;
  }
  .s-slider-dots {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */
