footer.footer 
    .container.container--min
        .footer__inner
            .row 
                .cols.cols-3.cols-lg-4
                    p Санкт-Петербург, Владимирский&nbsp;пр., д.&nbsp;3 лит. А, офис 701
                .cols.cols-6.cols-lg-4.text-center
                    a.phone(href="+ 78124456809")
                        | + 7 (812) 445-68-09
                .cols.cols-3.cols-lg-4.text-right 
                    a.link(href="#")
                        | Напишите нам
