extends ./tpl/_layout.pug

block variables
    -
        var title = 'Главная'
        var description = ''
        var index = true

block content 
    include ./sections/1_intro
    include ./sections/2_slider
    include ./sections/3_info
    include ./sections/4_map
    include ./sections/5_features