header.header 
    .container 
        .header__row 
            .header__col.header__col--logo
                a.logo(href="/")
                    img.logo__img(src="./img/logo.svg")

            .header__col.header__col--menu
                nav.main-menu-nav 
                    ul.main-menu 
                        li.main-menu__item
                            a.main-menu__link.main-menu__link--parent(href="#")
                                | Пункт 1
                            ul.main-submenu
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                                li.main-submenu__item 
                                    a.main-submenu__link(href="#")
                                        img.main-submenu__link-icon(src="./img/sprite.svg#menu-icon")
                                        span.main-submenu__link-title 
                                            | Меню 1
                                        span Покупайте и продавайте
                        li.main-menu__item
                            a.main-menu__link(href="#")
                                | Пункт 2
                        li.main-menu__item
                            a.main-menu__link(href="#")
                                | Пункт 3
                        li.main-menu__item
                            a.main-menu__link(href="#")
                                | Пункт 4
                        li.main-menu__item
                            a.main-menu__link(href="#")
                                | Пункт 5
                    // main-menu END
                // main-menu-nav END

            .header__col.header__col--buttons
                a.btn.btn--primary.btn--small(href="#")
                    | Кнопка
        // .header__row END